.mainpage{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(210, 210, 245); */
}
.dashHeader{
    opacity: 1;
}
.containerDash{
    display: flex;
    position:fixed;
    top: 15.1%;
    /* left: 15.5%; */
    min-width: 100%;
    /* width: inherit; */
    height: 90%;
    border: 1px solid red;
    justify-content: center;
    /* background-color: rgb(178, 247, 247); */
    background-color: rgb(210, 210, 245);
}
.containerDash h1{
    position: absolute;
    left: 20%;
    top: 2%;
    color:slategrey;
    font-size: 300%;
    text-shadow: 5px 5px 10px rgb(122, 105, 234);
}
.containerDash h2{
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 170%;
    font-weight:600;
}
.containerDash h3{
    position: absolute;
    left: 55%;
    top: 30%;
    font-size: 170%;
    font-weight:600;
    transition: ease-in-out 2s;
}
.insideContainer{
    position: absolute;
    top: 40%;
    left: 30%;
    /* right: 50%; */
    border: 1px solid black;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: rgb(57, 131, 215);
}
.insideContainer a{
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: max-content;
    /* border: 1px solid rgb(47, 0, 255); */
    font-size: 130%;
    width: 30%;
    color: black;
    
    /* border-radius: 10%; */
    transition: all .4s ease-in-out;

}
.insideContainer a:hover{
    /* transform: scale(1.1); */
    padding: 6%;
    color: rgb(130, 20, 0);
    border-radius: 5%;
    background-color: rgb(57, 131, 215);
    /* border: 1px solid black; */
    /* box-shadow: 5px 5px 20px 10px rgb(25, 152, 18); */
    box-shadow: 5px 5px 20px 10px rgb(238, 182, 182);
    /* background-color: rgb(3, 3, 235); */
    /* background-color: rgb(210, 210, 245); */
    
}
.insideContainer a:hover svg{
    color: rgb(130, 20, 0);
}
.insideContainer a svg{
    scale: 2;
    position: absolute;
    color: black;
    top: 30%
}